body{
  background-color: #FBDFE9;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  height: 100%;
  margin: auto;
  width: auto;
  padding: 30px;
}

p, code{
  font-size: 15px;
}

.top{
  font-size: 45px;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
  margin: 20px;
  color: black;
  font-family: system-ui;
  font-weight: bold;
}

.box{
  background-color: white;
  border-radius: 25px;
  text-align: left;
  padding: 20px;
  margin: 20px;
}

h1{
  font-size: 25px;
  color: #104580;
}

h2{
  font-size: 20px;
}


