body{
  background-color: #FFDE5B;
font-family: Verdana, Arial, Helvetica, sans-serif;
}

p, code{
  font-size: 15px;
}

html {
  height: 100%;
  margin: auto;
  width: auto;
  padding: 10px;
  text-align: left;
}

.top{
  font-size: 35px;
  text-align: center;
}

.box{
  border-top: 3px solid black;
}
