body{
  background-color: #FFDE5B;
font-family: monaco,Consolas,Lucida Console,monospace;
}

p, code{
  font-size: 15px;
}

html {
  height: 100%;
  margin: auto;
  width: 960px;
}

top{
  font-size: 35px;
  text-align: center;
}

box{
  border-top: 3px solid black;
}
