body{
  background-color: #FEF5F6;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  height: 100%;
  margin: auto;
  width: auto;
  padding: 10px;
}

p, code{
  font-size: 15px;
}

.top{
  font-size: 45px;
  text-align: center;
}

.box{
  border-top: 3px solid black;
  text-align: left;
}

h1{
  font-size: 25px;
}

h2{
  font-size: 20px;
}


