body{
background-color: lavender;
text-align: center;
}

p, h1{
color: navy;
font-size: 20px;}

h1{
text-align: center;
border: 4px solid green;}

h2{
font-weight: bold;
font-family: "serif";}

img{
border: 5px dotted purple;}

li, h2{
color: indigo;
font-family: "Times";
text-align: left;}
