body{
  background-color: lavender;
}

.image{
  float: left;
}

ul{
  display: flex;
  list-style: none;
}

li{
  text-align: center;
  padding: 5 px;
  background-color: lightgreen;
  margin: 5 px;
}
