body{
  background-color: lavender;
}

.box{
  background-color: white;
  padding: 25px;
  margin: 50px;
  border-radius: 20px;
height: 300px;
font-family: monaco,Consolas,Lucida Console,monospace;
}

h1{
  text-align: center;
}

a:visited{
  color: black;
}

a:hover{
  color: blue
}

a{
  text-decoration: none;
color: black;
}

.other, .current{
  display: inline;
  font-size: 20px;
margin: 20px;
}

nav{
  text-align: center;
background-color: white;
border-radius: 5px;
margin-top: 50px;

}

.image{
float: left;
margin-right: 30px;
}

.current{
background-color: lavender;
}

