body{
  background-color: #FFDE5B;
font-family: monaco,Consolas,Lucida Console,monospace;
}

p{
font-size: 18px;
}

.box{
  background-color: white;
  padding: 25px;
  margin: 50px;
  border-radius: 20px;
overflow: hidden;
  margin-top: 5px;
}

h1{
  text-align: center;
}

a:visited{
  color: black;
}

a:hover{
  color: blue
}

a{
  text-decoration: none;
color: black;
}

.other, .current{
  display: inline;
  font-size: 20px;
margin: 20px;
}

nav{
  text-align: center;
background-color: white;
border-radius: 5px;
  margin-right: 50px;
  margin-left: 50px;
}

.image{
float: left;
margin-right: 30px;
margin-bottom: 10px;
}

.current{
background-color: white;
padding: 10px;
border-radius: 5px;
}

.image-right{
float: right;
margin-left: 30px;
margin-bottom: 10px;
}

.authors{
  width: 580px;
  margin: auto;
}

.logo{
  margin: auto;
  width: 200px;
}
