body{
  background-color: lavender;
}

.box{
  background-color: white;
  padding: 25px;
  margin: 50px;
  border-radius: 20px;
}

h1{
  text-align: center;
}

.other{
  color: yellow;
}

.current{
  color: blue;
}

a:hover{
  color: blue
}

a{
  text-decoration: none;
}

a:visited{
  color: green;
}

.other, .current{
  display: inline;
  background-color: white;
  border-radius: 5px 5px 0px 0px;
  font-size: 20px;
}

nav{
  text-align: center;
}
