body{
  background-color: lavender;
}

.box{
  background-color: white;
  padding: 25px;
  margin: 50px;
  border-radius: 20px;
}

h1{
  text-align: center;
}

img{
  padding: 4px;
  float: left;
  margin-right: 30px;
  height: 200px;
}
