body{
  background-color: lavender;
}

.box{
  background-color: white;
  padding: 25px;
  margin: 50px;
  border-radius: 20px;
}

h1{
  text-align: center;
}

nav{
  background-color: green;
}
